.home-page {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  width: 100vw;              /* évite 100vw pour ne pas créer de scroll horizontal */
  height: 92vh;      
  padding-top: 50px;       /* adapte à la hauteur réelle de  navbar */
  background: linear-gradient(-45deg, #000, #2c0101, #000, #111);
  background-size: 400% 400%;
  animation: gradientShift 8s ease infinite; /*Dauer dun cycle complet,transition douce,en boucle*/
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between; /*logo links und nav rechts*/
  align-items: center;
  z-index: 4;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: red;
  margin-left: 30px;
}

.nav-links {
        margin-right: 50px;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;            /*redline am Anfang existiert nicht*/
  background: red;
  transition: width 0.3s ease-in-out; /*Animation nav*/
}

.nav-links li a.active {
  color: red; /* la nav devient rouge */
}


.nav-links li a:hover::after,
.nav-links li a.active::after {
  width: 100%;
}

.content {
  text-align: center;
  z-index: 1;
  max-width: 700px;
  
    display: flex;
    flex-direction: column;  
     margin-bottom:150px;
}

.content h2 {
  font-size: 2.8rem;
  color: white;
 margin-top:200px;
}


.buttons {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  justify-content: center;
}

.buttons a {
  background-color: rgb(126, 1, 1);
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.buttons a:hover {
  transform: scale(1.05);
  background-color: white;
  color: red;
}

.foot{
    margin-top :10px;
    color:rgb(163, 80, 80);
    z-index:3;
}
